nav {
    width: 750px; /* Ancho deseado */
    height: 50px; /* Altura deseada */
    background-color: #92ff71; /* Color de fondo */
    border: 5px solid #000; /* Borde color negro y de 1 píxel de grosor */

}
.cuadrado  {
    width: 184px; /* Ancho de 150 píxeles */
    height: 70px; /* Alto de 150 píxeles */
    background: rgb(255, 255, 255); /* Fondo de color rojo */
    border: 1px solid #000; /* Borde color negro y de 1 píxel de grosor */
    position: absolute;
    top: 20px;
}
header  {
    width: 750px; /* Ancho deseado */
    height: 250px;
    background-color: dodgerblue;
    border: 5px solid #000; /* Borde color negro y de 1 píxel de grosor */

}
.rectangulo{
    width: 500px;
    height: 230px;
    background-color: white;
    position: absolute;
    top: 20px;
    left: 20px;
}

.login{
    width: 230px;
    height: 230px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 530px;
}

main{
    width: 750px; /* Ancho deseado */
    height: 400px;
    background-color: rgb(82, 82, 82);
    border: 5px solid #000; /* Borde color negro y de 1 píxel de grosor */

}
aside{
    width: 270px; /* Ancho deseado */
    height: 380px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #000; /* Borde color negro y de 1 píxel de grosor */
    position: absolute;
    left: 480px;
    top: 340px;



}
article{
    width: 450px; /* Ancho deseado */
    height: 380px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #000; /* Borde color negro y de 1 píxel de grosor */
    position: absolute;
    left: 20px;
    top: 340px;
}

footer{
    width: 750px; /* Ancho deseado */
    height: 50px;
    background-color: rgb(212, 143, 31);
    border: 5px solid #000; /* Borde color negro y de 1 píxel de grosor */

}

.texto {
    text-align: center; /* Alineación del texto */
    display: flex; /* Uso de flexbox para centrar */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}
